<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!--Выбор кофигурации-->
    <add key="current_platform" value="sit_01" />
    
    <!--Типы кофигурации-->
    <add key="service_api" value="https://api.dom.gosuslugi.ru" />
    <add key="service_sit_01" value="http://sit01.dom.test.gosuslugi.ru:10082" />
    <add key="service_sit_02" value="http://sit02.dom.test.gosuslugi.ru:10082" />
    <add key="service_proxy" value="http://127.0.0.1:8080" />
    <add key="service_file" value="D:\Some_Date\ГисЖКХ\SHEMES\hcs_wsdl_xsd_v.11.1.1.2\" />
    
    <add key="servicepoint_uri"
         value="ext-bus-org-registry-service/services/OrgRegistry,
         ext-bus-org-registry-service/services/OrgRegistryAsync,
         ext-bus-nsi-common-service/services/NsiCommon,
         ext-bus-nsi-common-service/services/NsiCommonAsync,
         ext-bus-home-management-service/services/HomeManagement,
         ext-bus-home-management-service/services/HomeManagementAsync,
         ext-bus-bills-service/services/Bills,
         ext-bus-bills-service/services/BillsAsync,
         ext-bus-device-metering-service/services/DeviceMetering,
         ext-bus-device-metering-service/services/DeviceMeteringAsync,
         ext-bus-nsi-service/services/Nsi,
         ext-bus-nsi-service/services/NsiAsync,
         ext-bus-rki-service/services/Infrastructure,
         ext-bus-rki-service/services/InfrastructureAsync,
         ext-bus-fas-service/services/FASAsync,
         ext-bus-payment-service/services/PaymentAsync" />
    
    <add key="servicepoint_patch"
         value="bills\hcs-bills-service.wsdl,
            bills\hcs-bills-service-async.wsdl,
            capital-repair\hcs-capital-repair-service.wsdl,
            capital-repair\hcs-capital-repair-service-async.wsdl,
            device-metering\hcs-device-metering-service.wsdl,
            device-metering\hcs-device-metering-service-async.wsdl,
            fas\hcs-fas-service-async.wsdl,
            house-management\hcs-house-management-service.wsdl,
            house-management\hcs-house-management-service-async.wsdl,
            infrastructure\hcs-infrastructure-service.wsdl,
            infrastructure\hcs-infrastructure-service-async.wsdl,
            nsi\hcs-nsi-service.wsdl,
            nsi\hcs-nsi-service-async.wsdl,
            nsi-common\hcs-nsi-common-service.wsdl,
            nsi-common\hcs-nsi-common-service-async.wsdl,
            organizations-registry\hcs-organizations-registry-service.wsdl,
            organizations-registry\hcs-organizations-registry-service-async.wsdl,
            payment\hcs-payment-service-async.wsdl" />
    
    
    
    <add key="generate_mappings" value="false" />
    <add key="basic_user" value="sit" />
    <add key="basic_password" value="rZ_GG72XS^Vf55ZW" />
    <add key="contracts_destination_path" value="D:\integration\Contracts\"/>
    <add key="dtos_destination_path" value="D:\integration\Contracts\Dtos\"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
      </startup>
  <system.net>
      <defaultProxy enabled="false">
        <proxy bypassonlocal="True" proxyaddress="http://vvv:8080"/>
      </defaultProxy>
      <settings>
        <servicePointManager expect100Continue="false"/>
      </settings>
  </system.net>
</configuration>