<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="current_platform" value="sit_01" />
    <add key="servicepoint_api" value="https://api.dom.gosuslugi.ru" />
    <add key="servicepoint_sit_01" value="http://sit01.dom.test.gosuslugi.ru:10082" />
    <add key="servicepoint_sit_02" value="http://sit02.dom.test.gosuslugi.ru:10082" />
    <add key="servicepoint_proxy" value="http://127.0.0.1:8080" />
    <add key="servicepoint_patch" value="D:\Some_Date\ГисЖКХ\SHEMES\hcs_wsdl_xsd_v.11.1.1.2\" />
    
    <add key="generate_mappings" value="false" />
    <add key="basic_user" value="sit" />
    <add key="basic_password" value="rZ_GG72XS^Vf55ZW" />
    <add key="contracts_destination_path" value="D:\integration\Contracts\"/>
    <add key="dtos_destination_path" value="D:\integration\Contracts\Dtos\"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
      </startup>
  <system.net>
      <defaultProxy enabled="false">
        <proxy bypassonlocal="True" proxyaddress="http://vvv:8080"/>
      </defaultProxy>
      <settings>
        <servicePointManager expect100Continue="false"/>
      </settings>
  </system.net>
</configuration>